
.ipynb_checkpoints/analisiDati-checkpoint.ipynb
.ipynb_checkpoints/proveConExecEval-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/infoSIsaR-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/mdOutput-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/derivative_differences-checkpoint.ipynb
.ipynb_checkpoints/show_derivative_differences-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD_stefano_pietro-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/analisiDati_DD-checkpoint.ipynb
.ipynb_checkpoints/comparingRegions-checkpoint.ipynb
